<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.boardMapper">

	<select id="insertBoard" resultType="boardDTO">
		INSERT INTO BOARD
		(board_num,
		board_name, board_type) VALUES(#{boardNum}, #{boardName},
		#{boardType});
	</select>

	<select id="selectBoard" resultType="boardDTO">
		SELECT * FROM BOARD;
	</select>

	<select id="selectBoardWithType" resultType="boardDTO">
		SELECT * FROM BOARD
		WHERE
		board_type = #{boardType};
	</select>
	
	<select id="selectBoardWithNum" resultType="boardDTO">
		SELECT * FROM BOARD
		WHERE
		board_num = #{boardNum};
	</select>

</mapper>

